// set custom hex colors 
$siteBgColorCustom: #f0d3f7;
$sidebarBgColorCustom: #b98ea7;
$textColorCustom: #302f4d;
$sidebarTextColorCustom: #120d31;
$headlineColorCustom: #120d31;
$headingColorCustom: #120d31;
$bodyLinkColorCustom: #120d31;
$navLinkColorCustom: #120d31;
$sidebarLinkColorCustom: #120d31;
$footerTextColorCustom: #120d31;
$buttonTextColorCustom: #120d31;
$buttonHoverTextColorCustom: #120d31;
$buttonBgColorCustom: #120d31;
$buttonHoverBgColorCustom: #302f4d;
$borderColorCustom: #302f4d;
